$background: #21232E;

$main-picture: url('../img/m-h-night');

$logo-color: white;

$heading: white;

$header-text: white;

$button-color: #E3AC00;

$button-border: #E3AC00;

$button-hover: rgb(170, 129, 5);

$button-border-hover: rgb(170, 129, 5);

$section-text: white;

$section-card-background: #3B3F50;

$banner-gradient: linear-gradient(80deg, #DCA206, #D5960E, #C77F1D, #BC6F28, #B36031, #B05A35, #A64B3F, #9E3E47, #942E51);

$banner-heading: white;

$footer: #3B3F50;

