$background: white;

$main-picture: url('../img/m-h-day.jpg');

$logo-color: #21232E;

$heading: #21232E;

$header-text: #21232E;

$button-color: #699900;

$button-border: #699900;

$button-hover: #578000;

$button-border-hover: #578000;

$section-text: #21232E;

$section-card-background: #21232E;

$banner-gradient: linear-gradient(80deg, #689804, #689804, #5E8D29, #5A8A35, #4C7B68, #42718A, #42708D, #3867AF, #365ECF);

$banner-heading: #21232E;

$footer: #21232E;

